.ItemText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    max-height: 70px;
    padding: 10px 12px 0;
    border-radius: 0 0 15px 15px;
    background-color: rgba(255, 255, 255, 0.89);

    p {
      &:first-of-type {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        }
        &:last-of-type {
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
        }
    }
}
